<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script>
    if (location.href.indexOf("w3c.github.io/devicesensors-wg") != -1) location.href = location.href.replace(/w3c.github.io\/devicesensors-wg/, "www.w3.org/das");
    </script>
    <link rel="canonical" href="https://www.w3.org/das{{ page.url | replace:'.html',''}}">

    <link rel="stylesheet" href="https://www.w3.org{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ 'https://www.w3.org/das/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description %} class="without-description" {% endunless %}>
        <h1>{{ site.title }}</h1>
        {% if site.description %}
          <p>{{ site.description }}</p>
        {% endif %}
        <ul>
          <li><a href="https://www.w3.org/"><img alt="W3C" src="https://www.w3.org/StyleSheets/TR/2016/logos/W3C"></a></li>
        </ul>
      </header>
      <section>

        <ul id="navigation">
          {% for item in site.data.navigation.pages %}
            <li class="{% if page.url == item.html %}active{% endif %}">
            <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>

        {{ content }}

      </section>
    </div>
    <footer>
      <p>
        <a href="https://twitter.com/anssik">Anssi Kostiainen</a>,
        <a href="https://reilly.io/">Reilly Grant</a>, Chairs<br>
        <a href="https://www.w3.org/People/#xfq">Fuqiao Xue</a>, Staff Contact
      </p>
      <p>Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>